
.icon_github {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  background-color: white;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 100%;
  border: 2px solid white;
}
.background_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_github:hover {
  background-color: #a38068;
}



