.container_about {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.about_me {
  -webkit-backdrop-filter: blur(2px);
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 1vw;
}


.container_icon {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin-left: 7vw;
  margin-top:2vw ;

}

.container_icon svg {
  font-size: 3em;

}

.my_profile{
  margin-top: 2em;
border-radius: 100%;
width: 10em;
}